{% extends 'tweets/base.html' %}


{% block header %}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href={%url 'tweets:list' %} class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">TWEET TOP</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href={%url 'tweets:list' %} class="nav-link active" aria-current="page">TOP</a></li>
        {% comment %} <li class="nav-item"><a href={%url 'accounts:profile' user.username%} class="nav-link">Profile</a></li> {% endcomment %}
        <li class="nav-item"><a href={%url 'welcome:logout'%} class="nav-link">Log Out</a></li>
        <li class="nav-item"><a href={%url 'accounts:signup'%} class="nav-link">Sign Up</a></li>
      </ul>
    </header>
</div>
{% endblock header %}
