<div class="container px-1">
    <div class="row gx-2">
      <div class="col mx-1">
        <form  >
            {% csrf_token %}
            {% if tweet.pk in liked_tweets %}
                <button id='like' name='{{tweet.pk}}'><i class="fas fa-lg fa-heart like-red"></i></button>
            {% else %}
                <button id='like' name='{{tweet.pk}}'><i class="far fa-lg fa-heart"></i></button>
            {% endif %}
        </form>
      </div>
      <div class="col mx-1">
            <p class="count" name='{{tweet.pk}}-count'>{{tweet.likemodel_set.count}}</p>
      </div>
    </div>
</div>
