<script type='text/javascript'>
    $(document).ready(function(event) {
        // #like のボタンをトリガーとして監視
        $(document).on('click', '#like', function(event) {
            //formのポストを監視、tweet_pk, csrf_tokenをjson形式でlikefuncに送る。
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url "tweets:like" %}',
                data: {
                    'tweet_pk': $(this).attr('name'),
                    'csrfmiddlewaretoken': '{{csrf_token}}'
                },
                dataType: 'json',
                success: function(response) {
                    // 成功時の処理
                    // likefuncのcontextを受け取り、スタイルを変更する。
                    selector = document.getElementsByName(response.tweet_pk);
                    if(response.liked) {
                        $(selector).html("<i class='fas fa-lg fa-heart like-red'></i>");
                    }
                    else {
                        $(selector).html("<i class='far fa-lg fa-heart'></i>");
                    }
                    selector2 = document.getElementsByName(response.tweet_pk+'-count');
                    $(selector2).text(response.count);
                }
            })
        })
    })
</script>
