<script type="text/javascript">
    // クッキー取得
    const getCookie = (name) => {
      if (document.cookie && document.cookie !== "") {
        for (const cookie of document.cookie.split(";")) {
          const [key, value] = cookie.trim().split("=");
          if (key === name) {
            return decodeURIComponent(value);
          }
        }
      }
    };
    // csrf_token取得
    const csrftoken = getCookie("csrftoken");


    // いいねボタンのスタイルを変更
    const changeStyles = jsonResponse => {
        if (jsonResponse !== {}) {
            const selector = document.getElementsByName(jsonResponse.tweet_pk)[0];
            if (jsonResponse.is_liked) {
                selector.innerHTML = "<i class='fas fa-lg fa-heart like-red'></i>";
            } else if (!jsonResponse.is_liked) {
                selector.innerHTML = "<i class='far fa-lg fa-heart'></i>";
            }
            document.getElementsByName(jsonResponse.tweet_pk + "-count")[0].textContent = jsonResponse.count;
        }
    }


    // いいねボタンがクリックされたときの挙動
    async function likeButtonClicked(event)  {
      event.preventDefault()

      const postBody = {
        tweet_pk: this.getAttribute("name"),
      };
      const postData = {
        method: "POST",
        body: JSON.stringify(postBody),
        headers: {
          "Content-Type": "application/json",
          "X-CSRFToken": csrftoken,
        },
      };

      const response = await fetch('/tweets/like', postData)
      const json = await response.json();
      changeStyles(json)

    };


    // イベント付与
    const likeButtonslist = document.querySelectorAll('#like');
    likeButtonslist.forEach(likeButton => {
        likeButton.addEventListener("click", likeButtonClicked);
    })

</script>
