{% extends 'welcome/base.html' %} {% load static %}


{% block customcss %}
<link rel="stylesheet" href="{% static 'welcome/style.css' %}">
{% endblock %}

{% block content %}
<body class="text-center">
  <main class="form-signin">
    <form method="POST">
      {% csrf_token %}

      <h1 class="h3 mb-3 fw-normal">Log In</h1>
        {{error}}
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Username"
          name='username'
        />
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          name='password'
        />
        <label for="floatingPassword">Password</label>
      </div>

      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Sign in
      </button>
      <p class="mt-5 mb-3 text-muted">&copy; Fujioka</p>
    </form>
    <a href="{% url 'welcome:signup' %}">Sign Up</a>
  </main>
</body>

{% endblock content %}
