{% extends 'tweets/base.html' %}

{% block header %}
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href={%url 'tweets:list' %} class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        <span class="fs-4">Detail</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href={%url 'tweets:list' %} class="nav-link active" aria-current="page">TOP</a></li>
        <li class="nav-item"><a href={%url 'accounts:profile' user.username%} class="nav-link">Profile</a></li>
        <li class="nav-item"><a href={%url 'welcome:logout'%} class="nav-link">Log Out</a></li>
        <li class="nav-item"><a href={%url 'welcome:signup'%} class="nav-link">Sign Up</a></li>
      </ul>
    </header>
</div>
{% endblock header %}


{% block content %}
{% if user.is_authenticated %}

<div class="container">
    <a class="btn-close m-2" href={% url 'accounts:profile' username %} role="button" type='button'></a>
    <div class="alert alert-light" role="alert">
        <ul class="nav nav-pills">
            {% for follower in follower_list %}
                <li class="nav-item"><a href={%url 'accounts:profile' follower%} class="nav-link">{{follower}}</a></li>
                <hr />
            {% endfor %}
        </ul>
    </div>
</div>
{% else %}
<a href="{% url 'login' %}">please login</a>
{% endif %}
{% endblock content %}