{% extends 'tweets/base.html' %}

{% block header %}
{% include 'tweets/header.html' %}
{% endblock header %}


{% block content %}
{% if user.is_authenticated %}

<div class="container">
    <div class="alert alert-light" role="alert">
        <ul class="nav nav-pills">
            <p class="fs-1 mx-4">{{account.username}}</p>
            <li class="nav-item mx-2 pt-2"><a href='#' class="nav-link">Following &nbsp; ##</a></li>
            <li class="nav-item mx-2 pt-2"><a href='#' class="nav-link">Follower &nbsp; ##</a></li>
            {% if identify %}
                <div class="fs-2 mb-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bookmark m-3" viewBox="0 0 16 16">
                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                    </svg>
                    <span class='fs-6'>
                        Your Profile
                    </span>
                </div>
            {% elif follow_detecting %}
                <a class='text-decoration-none ms-5' role="button" aria-disabled='true' id='follow' account='{{account.pk}}' client='{{user.pk}}'>
                    <div class="fs-2 mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bookmark-check m-3" viewBox="0 0 16 16" name='followIcon'>
                            <path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                        </svg>
                        <span class='fs-6'>
                            Following
                        </span>
                    </div>
                </a>
            {%else%}
                <a class='text-decoration-none ms-5' role="button" aria-disabled='true' id='follow' account='{{account.pk}}' client='{{user.pk}}'>
                    <div class="fs-2 mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bookmark-dash m-3" viewBox="0 0 16 16" name='followIcon'>
                            <path fill-rule="evenodd" d="M5.5 6.5A.5.5 0 0 1 6 6h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
                        </svg>
                        <span class='fs-6'>
                            Follow
                        </span>
                    </div>
                </a>
            {% endif %} 
          </ul>
    </div>
    {%if tweets_exist%}
        {% for tweet in user_tweets %}
            <div class="alert alert-light  pt-0 pb-0" role='alert'>
                {% include 'tweets/atweet.html' %}
                <hr/>
            </div>
        {% endfor %}

    {%else%}
    <p class="fs-3">This account has not created any tweets.</p>
    
    {%endif%}
</div>

{% include 'tweets/script.html' %}
{% include 'accounts/script.html' %}
{% else %}
<a href="{% url 'login' %}">please login</a>
{% endif %}
{% endblock content %}
