<script type="text/javascript">
  // クッキー取得
  const fetchCookie = (name) => {
    if (document.cookie && document.cookie !== "") {
      for (const cookie of document.cookie.split(";")) {
        const [key, value] = cookie.trim().split("=");
        if (key === name) {
          return decodeURIComponent(value);
        }
      }
    }
  };
  // csrf_token取得
  const csrfToken = fetchCookie("csrftoken");

  // いいねボタンのスタイルを変更
  const changeFollowButtonStyles = (jsonResponse) => {
    //　今回はクラス名の変更
    const followButtonIcon = document.getElementsByName("followIcon")[0];
    const followedClassName = "bi-bookmark-check";
    const unFollowedClassName = "bi-bookmark-dash";
    if (jsonResponse.is_followed) {
      followButtonIcon.classList.replace(
        unFollowedClassName,
        followedClassName
      );
      followButtonIcon.innerHTML =
        '<path fill-rule="evenodd" d="M10.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/><path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>';
      document.getElementById("follower_number").innerHTML =
        `Follower &nbsp; ${jsonResponse.follower_number}`;
      document.getElementById("follow_text").innerText = "Following"
    } else if (!jsonResponse.is_followed) {
      followButtonIcon.classList.replace(
        followedClassName,
        unFollowedClassName
      );
      followButtonIcon.innerHTML =
        '<path fill-rule="evenodd" d="M5.5 6.5A.5.5 0 0 1 6 6h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/><path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>';
      document.getElementById("follower_number").innerHTML =
      `Follower &nbsp; ${jsonResponse.follower_number}`;
      document.getElementById("follow_text").innerText = "Follow"
    } else {
      return;
    }
  };

  // いいねボタンがクリックされたときの挙動
  async function followButtonClicked(event) {
    event.preventDefault();
    const postBody = {
      client_pk: this.getAttribute("client"),
      account_pk: this.getAttribute("account"),
    };
    const postData = {
      method: "POST",
      body: JSON.stringify(postBody),
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrfToken,
      },
    };

    const response = await fetch("/accounts/follow/", postData);
    const json = await response.json();
    changeFollowButtonStyles(json);
  }

  // イベント付与
  const followButton = document.querySelector("#follow");
  followButton.addEventListener("click", followButtonClicked);
</script>
